@tailwind base;
@tailwind components;
@tailwind utilities;

/* global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
html {
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
body {
  /* background-color: #e9e7e7; */
  height: 100vh;
}
/* Header CSS style  */
.icon_style{
  @apply text-2xl hover:text-emerald-400 font-medium duration-300 transition-all
}
.icon_right_style{
  @apply text-3xl font-bold hover:text-emerald-400 duration-300 transition-all
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.myScroll:hover::-webkit-scrollbar-thumb {
  background-color:#514f4f;
}

.myScroll::-webkit-scrollbar {
  width: 0.6rem;
}

.myScroll::-webkit-scrollbar-track {
  background-color: #1E293B;
}

.myScroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 7rem;
}
